<!DOCTYPE html>
<html>
  <head>
      {{# if title}}
          <title>{{title}}</title>
      {{else}}
          <title>Breakpoint Games</title>
      {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
