<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="col-md-3 col-md-offset-3">
            <h2>Featured Game</h2>
            <a href="/games/galactic-warrior"><img style="padding-bottom: 20px" src="https://static3.miniclipcdn.com/content/game-icons/medium/warrior.jpg"></a>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Play Now &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3><u>Galactic Warrior</u></h3>
            <p>Galactic Warrior is a spin-off of the classic game Asteroids.  Fly around in this 8-bit adventure through the stars!</p>
        </div>
    </div>
</div>