{{#section 'head'}}
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
{{/section}}
<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-block btn-social btn-twitter" href="/auth/facebook">
            <span class="fa fa-twitter"></span> Login with Facebook</a>
        <a class="btn btn-block btn-social btn-google" href="/auth/google">
            <span class="fa fa-google"></span> Login with Google</a>
    </div>
</div>
