<div class="container">
    <div class="row">
        <div class="jumbotron">
            <!-- Place this code where you'd like the game to appear -->
            <div class="miniclip-game-embed" align="middle" data-game-name="galactic-warrior" data-theme="0" data-width="400" data-height="400" data-language="en"><a href="http://www.miniclip.com/games/galactic-warrior/">Play Galactic Warrior</a></div>
            <p style="text-align:center;"><a href="http://www.miniclip.com/games/galactic-warrior/" target="_blank">Play Galactic Warrior</a> / More <a href="http://www.miniclip.com/games/genre-5/" target="_blank">Shoot 'Em Up games</a></p>
        </div>
    </div>
</div>

{{#section 'scripts'}}
    <script src="//static.miniclipcdn.com/js/game-embed.js"></script>
{{/section}}